{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["babel-plugin-module-resolver", {
      "root": ["."],
      "alias": {
        "common": "../common"
      }
    }],
    ["@babel/plugin-syntax-object-rest-spread"]
  ]
}
