.idea/**/*.iws
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/markdown-navigator
.idea/**/markdown-navigator.xml
.DS_Store

node_modules
yarn-error.log

/backend/.cache
/backend/dist
/frontend/.cache
/frontend/dist

/rust_common/target
/rust_common/pkg
/rust_common/wasm-pack.log

.env
